.texto {
    text-align: center;
    margin-right: 20px;
    font-family: 'Rubik';
}
.imagen {
    max-width: 50%; /* Ajusta el ancho máximo de la imagen según tus preferencias */
}
.camara {
    text-align: center;
    margin-top: 150px;
}
ion-icon {
    font-size: 150px;
  }
.derecha{
    text-align: end;
}
.centrar{
    text-align: center;
}