<!--

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <div class="derecha">
    <ion-button type="submit" (click)="authService.SignOut()" size="small" color="dark" ><ion-icon name="log-out-outline" size="small"></ion-icon></ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="centrar">
          <h1>Bienvenido</h1>
          <h3>{{authService.nomUsuario()}}</h3>
        </div>
      </ion-col>
      <ion-col>
        <img src="{{authService.imgUsuario()}}" alt="avatar">
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="camara">
    <ion-button color="light">
      <ion-icon slot="icon-only" name="camera" (click)="scan()" [disabled]="!isSupported"></ion-icon>
    </ion-button>

  </div>
-->

<ion-header>
  <ion-toolbar>
    <ion-title>Barcode Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>