<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="texto">
          <h1>Bienvenido</h1>
          <h3>[Nombre alumno]</h3>
        </div>
  </ion-col>
  <ion-col>
    <img src="../../../assets/default-avatar.png" alt="avatar">
  </ion-col>
  </ion-row>
  </ion-grid>
  <div class="camara">
    <ion-button color="light">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
  </div>
</ion-content>
