<ion-content class="auth-form">
  <div>
  <h1>RegistrAPP</h1>
  </div>
  
  <ion-list>
    <ion-item>
      <ion-input label="Correo" labelPlacement="floating" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" labelPlacement="floating" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <div class="centrar">
    <ion-button fill="clear" size="large" color="dark" (click)="next()">Ingresar</ion-button>
  </div>
  <br>
  <div class="centrar">
    <ion-toggle class="centrar">Recuerdame</ion-toggle>
  </div>
  
</ion-content>