.divider {
    display: flex;

    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #df090900;

    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #f1080800;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
    
    
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.centrar{
    text-align: center;
}
.body{
    background-image: url('./ImagenBackground.jpg'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la URL o la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
